body {
    background-color: lightgray;
    font: 14px "Helvetica Neue", Helvetica, sans-serif;
}

.sign-in-container {
    display: flex;
    float: right;
    align-items: center;
    justify-content: right;
    width: 100%;
    margin: 5px 10px;
}

.sign-in-container div span {
    display: block;
    text-align: right;
    margin: 0 10px;
}

.sign-in-container .btn {
    height: 35px;
    width: 105px;
    margin: 0;
}

.logos-container {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logos-container .circle {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 20px 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.logos-container #one {
    background-color: lightpink;
}

.logos-container #two {
    background-color: lightgreen;
}

.logos-container #three {
    background-color: lightgoldenrodyellow;
}

.form-container {
    background-color: whitesmoke;
    height: 100vh;
    width: 320px;
    min-width: 160px;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 3px;
}

header {
    text-align: center;
}

header span {
    display: block;
    padding: 10px;
}

header #form-heading {
    font-size: 24px;
    font-weight: 400;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.account-info label {
    display: block;
    text-align: left;
    line-height: 30px;
    margin: 25px 0;
}

.account-info input {
    width: 96%;
    padding: 6px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 3px;
}
.account-info label span {
    font-size: 11px;
}

.btn {
    height: 40px;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    background-color: lightblue;
}

#tos {
    text-align: center;
    margin: 20px;
    font-style: italic;   
}

.captcha-container {
    background-color: lightblue;
    color: slategray;
    margin: 55px -30px -30px -30px;
    padding: 16px;
    font-size: 11px;
    text-align: center;
}

#legal {
    text-align: center;
    margin: 40px 0 20px 0;
}

#legal span {
    display: block;
    padding: 1px 0;
}

#legal ul {
    list-style: none;
    padding: 1px 0;
    margin: 0;
}

#legal ul li {
    display: inline;
    padding: 0 3px;
}

/* hovers */
.btn:hover,
#legal ul li:hover,
#tos div span:hover,
.captcha-container span:hover,
.sign-in-container #reset-account-link:hover {
    cursor: pointer;
}

/* link color */
#legal ul li,
#tos div span, 
.captcha-container span,
.sign-in-container #reset-account-link {
    color: darkred;
}
